body{
    transition: .3s ease all;
}

body.darkMode{
    background-color: rgb(44, 46, 45);
    color: white
}

.searcher{
    max-width: 350px;
    width: 50%;
}
.searcherBar{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 576px){
    .searcherBar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}