.flag-container{
    width: 40%;
    height: auto;
}
.flag-container img{
    width: 100%;
    object-fit: contain;
}
.info-container{
    width: 55%;
}

/* darkMode para el boton de regreso */
.darkMode .my-link{
    border: solid 1px white;
    background-color: orange;
}
.darkMode .my-link:active{
    border: solid 1px white;
    background-color: orange;
}

.darkMode .info-container{
    color: white
}

@media screen and (max-width: 480px){
        .pais{
            display: flex;
            flex-direction: column;
        }
        .flag-container{
            width: 100%;
        }
}