/* REVISAR
:root{
    --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --acent: purple;
}

[data-theme="dark"]{
    --background: black;
    --text-primary: white;
    --text-secondary: grey;
    --acent: darked;
}

.App{
    color: var(--text-primary);
    background-color: var(--background);
    transition: all .5s;
} */

